
body{
    background-color: #fbf9fc;
}

.row.content {
    margin-top: 80px;
    margin-bottom: 60px;    
}

#mainImage{
    width: 160px;
    height: auto; 
    border-radius: 9px;
    margin-bottom: 15px;
}

.image-text{
    margin-left: 15px;
}

.jumbotron{
    margin-bottom: 0px;
}

#word-tag-div{
    background-color: black; 
    opacity: 0.87;
}


@media screen and (max-width: 767px) {
    .row.content {height:auto;} 

    .center-picture{
        width: 100%;
    }

    .image-text{
    margin-left: 0px;
    }
}

@media screen and (min-width: 2000px){
    #hangmanText, #rpgText, #triviaText, #rutgersText, #scissorsText{
        font-size: 300%;
    }
    a, .footer-text{
        font-size: 200%;
    }
    strong{
        font-size: 200%;
    }
    .navbar-brand{
        margin-top: 20px;
    }

    .nav.navbar-nav li.active a {
        padding: 30px;
    }
    .project, .projects, .contact{
        margin: 15px;
        margin-bottom: 0px;
    }

    .glyphicon{
        font-size: 30px;
    }
} 

