
body{
    background-color: #fbf9fc;
}
#navbar-index{
    visibility: hidden;
}


#nav-portfolio:hover{
    margin-bottom: -2px;
    border-bottom: 2px #bb68eb solid;
}

#nav-about:hover{
    cursor: default;
}


.row.content {
    margin-top: 80px;
    margin-bottom: 60px;    
}

#mainImage{
    width: 160px;
    height: auto;
    border-radius: 9px;
    margin-bottom: 15px;
}

#myImage{
    display: flex;
    align-self: baseline;
    width: 170px;
    height: auto; 
    border-radius: 9px;
    /* margin-bottom: 15px; */
    margin-left: 11%;
}

.about-me{
    padding-top: 5%;
}

#divider{
    margin-left: 7%;
    width: 90%;
    margin-bottom: 20px;
    /* border-bottom: 2px solid rgb(155, 47, 7); */
    /* color: rgb(221, 93, 46); */
    border-bottom: 2px solid rgb(161, 74, 34);
    color: rgb(161, 74, 34);
    /* color: rgb(146, 64, 27); */
    font-size: 30px;
    text-align: center;
}

#socials{
    margin-left: 7%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 35px;
}

#about-github, #about-linkedin, #about-email, #about-overflow, #about-repl{
    text-decoration: none;
    margin: 30px 22px;
}

#about-overflow{
    color: #f48024;
}

#about-email{
    color: green;
}

#about-linkedin{
    color: #0077b5;
}

#about-github{
    color: #7e5ead;
}

#about-repl{
    width: 37px;
    height: 37px;
    opacity: 0.9;
}

#about-github:hover, #about-linkedin:hover, #about-email:hover, #about-overflow:hover, #about-repl:hover{
    cursor:pointer;
    opacity: 0.75;
}

#repl-div{
    width: fit-content;
    height: fit-content;
    display:inline-block; 
    line-height:0;
}

.image-text{
    margin-left: 15px;
}

.jumbotron{
    margin-bottom: 0px;
}

#word-tag-div{
    background-color: black; 
    opacity: 0.94;
}

#intro-image{
    background-image: url("../images/blue-purple-right.jpg");
    background-position:right;
    /* opacity: 0.94; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #000201;
    min-height: 100%;
    z-index: 20;

}

#about-me{
    background-image: url("../images/yellow-purple-right.jpg");
    background-position:right;
    /* opacity: 0.94; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #000201;
    min-height: 115%;
    z-index: 20;
}


.typewriter-div{ 
    margin-top: 14%;
    margin-left: 5%;
    
  
}

.typewriter-message{ 
    color: #009e95;
    font-size: 45px;
    line-height: 170%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.purple-text{
    color: #a75cd3;
}



.i-color{
    color: #00cba7;
}

.clear-float{
    float:none;
}
.float-left{
    float: right;
}

.flex-row{
    display: flex;
    flex-direction: row;
    display: -webkit-flex; /* Safari */    
}

.flex-row-wrap{
    display: flex;
    flex-direction: row;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    flex-wrap: wrap;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.about-me-text{
    /* color: rgb(161, 74, 34); */
    color: rgb(128, 128, 128);
    margin-left: 20px;
    font-size: 19px;
}

.about-me-text-under-photo{
    color: rgb(128, 128, 128);
    font-size: 19px;
    margin-left: 11%;
}

#created-divider{
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(168, 59, 182);
    color: rgb(168, 59, 182);
    font-size: 27px;
    text-align: center;
}

.created-images-div{
    justify-content: center;
}

.created-images{
    width: 350px;
    height: 200px;
    object-fit: contain;
    margin: 0 10px 0 10px;
}

.font-17{
    font-size: 17px;
}

.font-23{
    font-size: 23px;
}
#mainInfo{
    min-height: 115%;
}



@media screen and (max-width: 767px) {
    .row.content {height:auto;} 

    .center-picture{
        width: 100%;
    }

    .image-text{
        margin-left: 0px;
    }
    #intro-image{
        background-image: none;
    }
}

@media screen and (min-width: 2000px){
    #hangmanText, #rpgText, #triviaText, #rutgersText, #scissorsText{
        font-size: 300%;
    }
    a, .footer-text{
        font-size: 200%;
    }
    strong{
        font-size: 200%;
    }
    .navbar-brand{
        margin-top: 20px;
    }

    .nav.navbar-nav li.active a {
        padding: 30px;
    }
    .project, .projects, .contact{
        margin: 15px;
        margin-bottom: 0px;
    }

    .glyphicon{
        font-size: 30px;
    }
} 



/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1023px) {
    .intro-image{
        background-attachment: scroll;
        min-height: 0%;
        background-image: none;
        padding: 0;
    }

}
@media screen and (min-device-width: 1024px){
    
    .intro-image{
        padding: 0;
    }
} 


@media screen and (max-width: 1225px){
    .intro-image {
        background-size: 54.5% 100%;
    }
}
