.navbar {
    opacity: 0.87;   
}

.navbar-brand{
    font-size: 28px;
}

li{
    font-size: 22px;
}

.navbar-inverse .navbar-brand {
    color: #bb68eb;
    letter-spacing: 1px;
    font-weight: bold;
}

#my-name:hover{
    color: grey;
    color: #bb68eb;
}

.nav.navbar-nav li.active a {
    /* background-color:#a75cd3; */
    background-color: transparent;
    color: #bb68eb;
    /* border-bottom: 2px #bb68eb solid; */
    /* text-decoration: underline; */
}



.nav.navbar-nav li.active a:hover {
    background-color: transparent;
    color: #bb68eb;
}

.icon-bar{
    background-color:#bb68eb;
}

.projects:hover{
    cursor: pointer;
}


#nav-about:hover, #nav-portfolio:hover{
    color: #bb68eb;
    background-color: transparent;
} 

#social-icon-github, #social-icon-linkedin, #social-icon-email{
    text-decoration: none;
    font-size: 30px;
}

#social-icon-github:hover, #social-icon-linkedin:hover, #social-icon-email:hover{
    text-decoration: none;
    color: #bb68eb;

}